.text-center {
    text-align: center;
}

.image-center {
    display: block;
    margin: 0 auto;
}

.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.input {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
}

.stable-size{
    width: 300px;
    height: 300px;
}

.center {
    text-align: center;
}